* {
  margin: 0 auto;
  max-width: 0 auto;
  max-height: 0 auto;
  font-family: sans-serif;
  background-color: black;
}

.header {
  background-color: rgb(25, 22, 22);
  max-width: 0 auto;
  height: 92px;
}
.inside-header {
  display: flex;
  flex-direction: row-reverse;
  max-width: 0 auto;
  height: 54px;

  justify-content: center;
}
.second-block-inside1 {
  border: rgb(139, 136, 136) solid 1px;
  flex-grow: 2;
}
.second-block-insid2 {
  border: rgb(139, 136, 136) solid 1px;

  flex-grow: 1;
}
.second-block-inside3 {
  border: rgb(139, 136, 136) solid 1px;
  flex-grow: 1;
}
.second-block-inside4 {
  border: rgb(139, 136, 136) solid 1px;

  flex-grow: 4;
}
.second-block-inside5 {
  border: rgb(139, 136, 136) solid 1px;
  flex-grow: 1;
}
.second-block-inside6 {
  border: rgb(139, 136, 136) solid 1px;
  flex-grow: 2;
}
.Marvel {
  max-height: 100%;
  padding-left: 42%;
}
.Button-sign {
  color: white;
  font-size: 73%;
  padding-top: 10%;
  padding-left: 32%;
  font-style: inherit;
  cursor: pointer;
}
.submit-button {
  color: white;
  font-size: 73%;
  padding-top: 7%;
  padding-left: 27%;
  font-style: inherit;
  cursor: pointer;
}
.submit-button2 {
  color: white;
  margin-left: 37%;
  font-size: 63%;
}
.button-container {
  max-width: 36%;
  height: 35%;

  display: flex;
}
.charging {
  color: white;
}
.b {
  padding-top: 2%;
  color: white;
  font-size: 77%;
  cursor: pointer;
}
.container-character {
  max-width: 1213px;
  max-height: 0 auto;

  display: flex;
  flex-wrap: wrap;
}

.steve-jobs {
  height: 500px;
  max-width: 255px;
  border: red solid 2px;
  background-color: black;
  margin-top: 2%;
  transition: all 0.3s;
  border-radius: 4%;
  margin-top:33px;
  box-shadow: 3px 3px 3px 3px rgb(223, 23, 23);
  box-shadow: [horizontal offset]
}
.steve-jobs:hover {
  transform: scale(1.1);
}
.character-image {
  width: 100%;
  height: 60%;
  border-radius: 4%;
}
.description {
  width: 100%;
  height: 60%;
  height: 4px;
  color: white;
  font-size: 12px;
  padding-top: 4%;
}
.title {
  color: white;
}
.Button-container {
  display: flex;
  color: aqua;
  
}
.button-pagination {
  color:white;
  transition: all 0.3s;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 
  'Arial Narrow', Arial, sans-serif;
}
.button-pagination:disabled {
  background-color: gray;
}
.barre-search {
  background-color: white;
  margin-left: 30%;
  width: 40%;
  margin-bottom: 1%;
}
.button-pagination:active {
  background-color:brown;
  transform: scale(1.2);
}
.div-reward {
  max-width: 0 auto;
  height: 23px;
}
.div-reward-inside {
  max-width: 16%;
  height: 16px;
  display: flex;
  margin-top: -1%;
}
.writing {
  color: white;
  font-size: 10px;

  margin-left: 10%;
}
.insider-img {
  height: 100%;
  margin-left: 57%;
  margin-top: -0, 1%;
}
.Marvel-picture-container {
  max-width: 0 auto;
  height: 459px;
  
  margin-bottom: 23px;
}
.picture-marvel {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.inside-picture {
  background-color: transparent;
  position: relative;
  top: 200px;
  max-width: 20%;
  padding-left: 40%;
  color: white;
  font-size: 34px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.span-between{
    color: rgb(223, 223, 223);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow',
     Arial, sans-serif;
     font-size: 13px;
     margin-top: 3px;
}

.box-container{
    max-width: 320px;
    display: flex;
    justify-content: center;
    height: 356px;
margin-top: 10%;

}