* {
  margin: 0 auto;
  max-width: 0 auto;
  max-height: 0 auto;
  font-family: sans-serif;
  background-color: black 
}

.header {
  background-color: rgb(25, 22, 22);
  max-width: 0 auto;
  height: 92px;
}
.inside-header {
  display: flex;
  flex-direction: row-reverse;
  max-width: 0 auto;
  height: 54px;

  justify-content: center;
}
.second-block-inside1 {
  border: rgb(139, 136, 136) solid 1px;
  flex-grow: 2;
}
.second-block-insid2 {
  border: rgb(139, 136, 136) solid 1px;

  flex-grow: 1;
}
.second-block-inside3 {
  border: rgb(139, 136, 136) solid 1px;
  flex-grow: 1;
}
.second-block-inside4 {
  border: rgb(139, 136, 136) solid 1px;

  flex-grow: 4;
}
.second-block-inside5 {
  border: rgb(139, 136, 136) solid 1px;
  flex-grow: 1;
}
.second-block-inside6 {
  border: rgb(139, 136, 136) solid 1px;
  flex-grow: 2;
}
.Marvel {
  max-height: 100%;
  padding-left: 42%;
}
.Button-sign {
  color: white;
  font-size: 73%;
  padding-top: 10%;
  padding-left: 32%;
  font-style: inherit;
}
.submit-button {
  color: white;
  font-size: 73%;
  padding-top: 7%;
  padding-left: 27%;
  font-style: inherit;
}
.submit-button2 {
  color: white;
  margin-left: 37%;
  font-size: 63%;
}
.button-container {
  max-width: 36%;
  height: 35%;

  display: flex;
}
.b {
  padding-top: 2%;
  color: white;
  font-size: 77%;
}
.container-character {
  max-width: 1213px;
  max-height: 0 auto;

  display: flex;
  flex-wrap: wrap;

}

.steve-jobs {
  height: 500px;
  max-width: 255px;
  border: red solid 2px;
  background-color:black;
  margin-top: 3%;

}
.character-image {
  width: 100%;
 height: 60%;
}
.description {
 width: 100%;
 height: 60%;
  height: 4px;
  color: white;
  font-size: 12px;
  padding-top: 4%;

}
.title{
    color: white;
}
.Button-container{
    display: flex;
    color: aqua;
}
.button{
    color: brown;
}